/* Colors
blue -  #577590
green - #90BE6D
yellow - #F9C74F
orange - #F8961E
red - #F94144
*/
.hidden {
    visibility: hidden;
}
.root {
    -fx-font-family: "Gill Sans";
    -fx-font-size: 14;
}

.button {
    -fx-background-radius: 5px;
    -fx-border-style: none;
}

.scroll-pane {
    -fx-background-color: white;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.top {
    -fx-padding: 10px;
    -fx-spacing: 5;
    -fx-alignment: center-left;
    -fx-background-color: #577590;
}

.top > .label {
    -fx-text-fill: white;
}

.companyName {
    -fx-font-size: 18;
}

#dialogTitle {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 18;
}

.main {
    -fx-padding: 10px;
    -fx-spacing: 5;
    -fx-background-color: white;
}

.contentBar {
    -fx-padding: 5px;
    -fx-spacing: 5;
}

.searchBox > .text-field {
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

.searchBox > .combo-box {
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 5 5 0;
}

.reportPicker {
    -fx-padding: 5px;
    -fx-background-color: #e5e5e5;
    -fx-background-radius: 5px;
}
.reportPicker .combo-box {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-radius: 5px;
    -fx-effect: innershadow(three-pass-box, gray, 5, 0, 0, 0);
}

.addBtn {
    -fx-background-color: #90BE6D;
}

.addBtn:hover {
    -fx-background-color: #7fa860;
}

.updateBtn {
    -fx-background-color: #6e93b4;
}

.updateBtn:hover {
    -fx-background-color: #62829f;
}

.deleteBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #F94144;
}

.deleteBtn:hover {
    -fx-background-color: #F94144;
    -fx-text-fill: white;
}

.editBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #F9C74F;
}

.editBtn:hover {
    -fx-background-color: #F9C74F;
    -fx-text-fill: white;
}

.backBtn {
    -fx-background-color: #F8961E;
}

.backBtn:hover {
    -fx-background-color: #de861b;
}
.saveBtn {
    -fx-pref-width: 20px;
    -fx-background-color: transparent;
    -fx-background-image: url('img/save.png');
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* Alue view */
#alueBoxes {
    -fx-padding: 5px;
    -fx-spacing: 5;
}

.alueBox {
    -fx-background-color: rgba(245, 245, 245, 0.5);
    -fx-background-radius: 5px;
    -fx-border-style: solid;
    -fx-border-color: rgba(39, 125, 161, 1);
    -fx-border-radius: 5px;
}

.alueBox:hover {
    -fx-background-color: rgba(39, 125, 161, 0.8);
}

/* changeTable dialog */
#formsGridPane {

}

#formsGridPane > .text-field, .text-area {
    -fx-max-height: 100px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: rgb(128, 128, 128);
}
.spinner {
    -fx-pref-width: 75px;
}



